@model JoePizzaApp.Models.Cart

@{
    ViewData["Title"] = "View Cart";
}

<h3  style="color:#126328">Your Shopping Cart</h3>
<br />

@if (Model.CartItems.Any())
{
    <div class="card" id="cart" style="border-radius: 12px;">
        <table class="table table-stiped" style="border-color: transparent">
            <thead>
                <tr style=" background-color:#126328" class="text-muted">
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody >
                @foreach (var cartItem in Model.CartItems)
                {
                    var pizzaName = cartItem.Pizza.Name;
                    <tr id="@pizzaName">
                        <td>@cartItem.Pizza.Name</td>
                        <td>@cartItem.Pizza.Description</td>
                        <td>Rs.@cartItem.Pizza.Price</td>
                        <td>@cartItem.Quantity</td>
                        <td>Rs.@(cartItem.Pizza.Price * cartItem.Quantity)</td>
                        <td>
                            <form method="post" action="@Url.Action("RemoveFromCart", "Home")">
                                <input type="hidden" name="cartItemId" value="@cartItem.CartItemId" />
                                <button type="submit" class="btn btn-danger" id="@pizzaName">Remove</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr class="text-muted">
                    <td colspan="4" class="text-right"><strong>Total:</strong></td>
                    <td>Rs.@Model.CartItems.Sum(ci => ci.Pizza.Price * ci.Quantity)</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>

    <br />
    <br />
    <div class="text-center">
        <a asp-action="OrderConfirmed" id="confirmOrderButton" class="btn btn-primary">Confirm Order</a>
    </div>
    <br />
}
else
{
    <p>Your cart is empty.</p>
}

<div class="text-center">
    <a asp-action="Index" class="btn btn-secondary">Continue Ordering</a>
</div>

<style>
    tr>th{
        color:white;
    }

    tfoot>tr>td{
        color: #126328;
    }

    .btn-primary{
        background-color: #126328;
        color:white;
    }

    .btn-danger{
        background-color:transparent;
        border: solid 1px #126328;
        color: #126328;
    }
</style>